@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
*{color: #ffffff; margin: 0px; padding: 0px; box-sizing: border-box; }
body{
  background: #FFC0CB;
}
a{text-decoration: none;}
ul,ol,li{
  list-style: none;
}
